/*------------------------------------------------------------------

[Custom Stylesheet]


Last change:	03/25/2013
Assigned to:	You

-------------------------------------------------------------------*/

.terr-button {
  position: absolute;
  padding: 2px 5px;
  line-height: 16pt;
  font-size: 8pt;
  margin: 6px;
  right: 0;
}