{% extends "base.html" %}
{% block nav-territory %}active{% endblock %}
{% block container %}

    <div class="row">

        <div class="col-md-4 col-xs-12">
            <div class="widget widget-nopad stacked">

				<div class="widget-header">
					<h3>Home Territories</h3>
				</div> <!-- /widget-header -->

				<div class="widget-content">
                    <ul class="news-items" id="homeTerrList">
                    </ul>
				</div> <!-- /widget-content -->

			</div> <!-- /widget -->

            <div class="widget widget-nopad stacked">

				<div class="widget-header">
					<h3>Phone Territories</h3>
				</div> <!-- /widget-header -->

				<div class="widget-content">
                    <ul class="news-items" id="phoneTerrList">
                    </ul>
				</div> <!-- /widget-content -->

			</div> <!-- /widget -->
        </div>

        <div class="col-md-8 col-xs-12">

        <!-- Modal -->
        <div class="modal fade" id="newTerrModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add A Territory</h4>
                    </div>
                    <div class="modal-body">
                        <label for="new-terr-num">Number</label>
                        <input type="text" class="form-control" name="new-terr-num" id="new-terr-num"/>
                        <label for="new-terr-name">Name</label>
                        <input type="text" class="form-control" name="new-terr-name" id="new-terr-name"/>
                        <label for="new-terr-type">Type</label>
                        <select id="new-terr-type" name="new-terr-type" class="form-control">
                            <option value="">Select...</option>
                            <option value="H">Home</option>
                            <option value="P">Phone</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="new-terr-save">Create Territory</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="newTerrItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add A Territory Item</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="new-terr-item-num" />
                        <label for="new-terr-num">Phone</label>
                        <input type="text" class="form-control" id="new-terr-item-phone"/>
                        <label for="new-terr-num">Address 1</label>
                        <input type="text" class="form-control" id="new-terr-item-addr1"/>
                        <label for="new-terr-num">Address 2</label>
                        <input type="text" class="form-control" id="new-terr-item-addr2"/>
                        <label for="new-terr-num">City</label>
                        <input type="text" class="form-control" id="new-terr-item-city"/>
                        <label for="new-terr-num">State</label>
                        <input type="text" class="form-control" id="new-terr-item-state"/>
                        <label for="new-terr-num">Notes</label>
                        <input type="text" class="form-control" id="new-terr-item-notes"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="new-terr-item-save">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="widget stacked widget-table action-table">

            <div class="widget-header">
                <i class="icon-globe"></i>

                <h3>Territory #<span class="number">1</span> - <span class="name">Phoenixville</span></h3>

                <a href="javascript:;" class="terr-button" id="btnAddHouse">Add House</a>
            </div>
            <!-- /widget-header -->

            <div class="widget-content">

                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Number</th>
                        <th>Street</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Notes</th>
                        <th>Tags</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Little St.</td>
                        <td>Phoenixville</td>
                        <td>PA</td>
                        <td></td>
                        <td>not-spanish</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Little St.</td>
                        <td>Phoenixville</td>
                        <td>PA</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>347</td>
                        <td>Main Rd.</td>
                        <td>Phoenixville</td>
                        <td>PA</td>
                        <td>above pizzeria</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>349a</td>
                        <td>Main Rd.</td>
                        <td>Phoenixville</td>
                        <td>PA</td>
                        <td></td>
                        <td>behind, night</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- /widget-content -->

        </div>
        <!-- /widget -->

    </div>

    </div> <!-- /row -->

    <script src="{{ STATIC_URL }}js/territory.js"></script>

{% endblock %}