{% extends "base.html" %}
{% block nav-territory %}active{% endblock %}
{% block container %}

<div class="row">
    Territory Reports Placeholder
    <button type="button" class="btn btn-primary" style="float:right;">Add Territory</button><br /><br />

	<div class="widget stacked widget-table action-table">
			
		<div class="widget-header">
			<i class="icon-globe"></i>
			<h3>Territory #<span class="number">1</span> - <span class="name">Phoenixville</span></h3>
		</div> <!-- /widget-header -->
		
		<div class="widget-content">

			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Number</th>
						<th>Street</th>
						<th>City</th>
						<th>State</th>
						<th>Notes</th>
						<th>Tags</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Little St.</td>
						<td>Phoenixville</td>
						<td>PA</td>
						<td></td>
						<td>not-spanish</td>
					</tr>
					<tr>
						<td>15</td>
						<td>Little St.</td>
						<td>Phoenixville</td>
						<td>PA</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>347</td>
						<td>Main Rd.</td>
						<td>Phoenixville</td>
						<td>PA</td>
						<td>above pizzeria</td>
						<td></td>
					</tr>
					<tr>
						<td>349a</td>
						<td>Main Rd.</td>
						<td>Phoenixville</td>
						<td>PA</td>
						<td></td>
						<td>behind, night</td>
					</tr>
				</tbody>
			</table>
			
		</div> <!-- /widget-content -->
	
	</div> <!-- /widget -->

</div> <!-- /row -->

{% endblock %}